#bar {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 10px;
    margin: 20px;
    background: linear-gradient(to right, #989898, #1E1E1E);
    border-radius: 10px 10px 10px 10px;
}

#bar-wrapper {
    background: linear-gradient(to bottom, #EDEDED, #D7D7D7);
    padding-top: 47px;
    z-index: 1
}

.bar-element {
    color: #AAAAAA;
    font-weight: bold;
}

.sticky {
    position: sticky;
    top: -2px;
}

.current {
    color: white;
}

#bar-wrapper.top-stuck {
    background: linear-gradient(to right, #989898, #1E1E1E)
}

.top-stuck #bar {
    background: transparent;
}

.top-stuck {
    position: fixed;
    top: -2px;
    width: 100%;
}

#bar-wrapper.stuck {
    background: linear-gradient(to right, #989898, #1E1E1E);
}

#bar-wrapper.stuck #bar{
    background: transparent;
}